@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
}

@layer components {
  body {
    @apply bg-gray-800;
  }

  h1 {
    @apply text-2xl text-gray-200;
  }

  label {
    @apply block text-gray-300 text-sm font-semibold mb-2 ml-3;
  }

  input:not([type="checkbox"]),
  textarea {
    @apply w-full bg-transparent text-white font-medium border-2 border-gray-300 rounded-3xl py-2 px-4 focus:border-violet-500 focus:shadow-md;
  }

  button, .btn {
    @apply py-2 px-4 rounded-3xl font-medium cursor-pointer;
  }

  .btn-primary {
    @apply bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white py-2 px-4 rounded-3xl hover:shadow-lg;
  }

  .validation-error {
    @apply text-red-500 text-xs font-semibold mt-1;
  }

  .notification {
    @apply rounded-md p-6 from-violet-500;
  }
}

.mobile-menu {
  @apply max-h-0 overflow-hidden transition-all duration-500 ease-out opacity-0;
}

.mobile-menu.open {
  @apply max-h-screen opacity-100;
}

.mobile-open {
  @apply overflow-hidden;
}

.typing {
  position: relative;
}

.typing__dot {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0.5rem 0.25rem;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.message-icon path {
  stroke-width: 2px;
  stroke: rgb(156 163 175);
}

.message-icon.seen path {
  stroke: rgb(96 165 250);
}
